body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgb(71, 71, 71);
    color: #ffffff;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}


#splash-screen {
    width: 500px;
    margin: 20vh auto 0;
    box-shadow:#333 0rem 1rem 3rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
}

#splash-screen canvas {
    border-radius: 0.3rem 0.3rem 0 0;

}

#splash-title {
    padding: 1em 1.5em;
    border-bottom: 1px solid #333;
}

#splash-loading{
    padding: 1em 1.5em;
    font-size: 1em;
}

#splash-loading-filename{
    color: #CCC;
}

.title {
    font-size: 1.5em;
}

.description {
    font-size: 1em;
    color: #CCC
}

.icon {
    max-height: 1em;
    margin-right: 1em;
}

.splash-option{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border-bottom: 1px solid #333;
}

.splash-option:hover{
    background: #222;
    cursor: pointer;
}

.splash-option:last-child {
    border-bottom: none;
    border-radius: 0 0 0.3rem 0.3rem;
}

.splash-option .option {
    text-align: right;
}

#error {
    position: absolute;
    bottom: 1em;
    right: 1em;

    background: #333;
    border-radius: 0.3em;
    box-shadow:#333 0rem 0rem 0.5rem;
}

#error-header {
    text-align: left;
    padding: 0.5rem 1rem 0;
    color: #AAA;    
    background: #252525;
    border-radius: 0.3em 0.3em 0 0;
}

#error-message {
    font-weight: bold;
    padding: 0.5em 1em;
    background: #252525;
}

.error-option {
    padding: 0.5em 1em;
    border-top: 1px solid #222
}

.error-option:last-child {
    border-radius: 0 0 0.3em 0.3em;
}

.error-option:hover {
    background: #222;
    cursor: pointer;
}


/* nodes */

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#sidebar {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    background: #555;
}

.node {
    background: #666;
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 0.25rem 0.5rem;
}

.node:hover {
    background: #777;
    cursor: pointer;
}



.node_title {
    font-weight: bold;
}

.node_meta {
    color: #CCC;
    
}


/* context menu */

#wall {
    position: absolute;
    width:  100vw;
    height:  100vh;
    top: 0;
    left: 0;
}

#context-menu {
    background: #222;
    border-radius: 0.2rem;
}

.menu-option {
    font-size: 0.9em;
    padding: 0.5em 2em;
}

.menu-option:hover {
    background: #226688;
    cursor: pointer;
}


.tools-icon {
    background: #333;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    margin: 0.25rem 0.5rem;
}

.tools-icon:hover {
    background: #226688;
    cursor: pointer;
}